<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninja Information</title>
        <link rel="stylesheet" href='{{url_for('static',"css/ninjasStyle.css")}}'>
    </head>
    <body>
        <h2>All there is to know about ninjas.</h2>

        <p>Ninjas are the deadliest predators on the planet. They are able to kill anything without being detected.</p>

        <h4>Greatest Ninjas</h4>
        <ol>
            <li>Snake Eyes</li>
            <li>Kung Fu Panda</li>
            <li>The Bride</li>
        </ol>
    </body>
</html>
